  *, *:before, *:after{	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body{
	margin:0;
	padding:0;
	border:0;
	background-color:rgba(225, 225, 225, 1);
	height:100%;
	width:100%;	
	color:#161616;
	font-family:arial;
}

a, li, ul{
	list-style:none;
	text-decoration:none;
	color:#161616;
}
		
		/*					*/
#dados, #dados_endereco, #dados_telefone, #dados_senha{
	position:absolute;
	width:25%;
	padding:20px 0;
	margin-top:100px;	
	background-color:rgba(210, 210, 210, 1);
}		

#dados_senha{
	margin-top:510px;
}

#dados, #dados_senha{
	margin-left:6.25%;
}

#dados_endereco{
	margin-left:37.5%;
}

#dados_telefone{
	margin-bottom:20px;
	margin-left:68.75%;
}
	@media only screen and (max-width:1150px){
		#dados, #dados_endereco, #dados_telefone, #dados_senha{width:30%;}
		#dados, #dados_senha{margin-left:2.5%;}
		#dados_endereco{margin-left:35%;}
		#dados_telefone{margin-left:67.5%;}
	}

	legend{
		font-family:verdana;
		font-weight:bold;
		font-size:1.3em;
		color:#f47014;
		margin-bottom:30px;
		margin-left:10%;
	}
	
	.informacoes{
		font-family:arial;
		font-weight:ligther;
		font-size:1em;
		margin-left:10%;
	}
	
	.input{
		width:80%;
		margin:0 10% 10px 10%;
		line-height:1.6em;
	}
		#input_sexo_m{
			margin-left:10%;
		}
	
	#senha, #confirma_senha{
		margin-bottom:1px;
	}
	
	#informacao_confirma_senha{
		margin-top:8px;
	}
	
	#mostra_senha, #esconde_senha, #mostra_confirma_senha, #esconde_confirma_senha{
		margin-left:10%;
		font-size:0.93em;
		font-weight:lighter;
		font-family:arial;
		opacity:0.7;
		color:#161616;
		line-height:1em;
		cursor:pointer;
		display:inline;
		transition-duration:0.2s;
		-webkit-transition-duration:0.2s;
		-moz-transition-duration:0.2s;
	}
	
	#esconde_senha, #esconde_confirma_senha{
		font-size:0.94em;
		display:none;
		color:rgba(220, 10, 10, 1);
	}
	
	#ddd{
		width:20%;
	}
	
	#telefone, #celular{
		float:right;
		width:57%;
		margin-top:-2.2em;
	}
	.acao{
			font-family:verdana;
			font-size:1em;
			color:rgba(255, 255, 255, 1);
			padding:15px 0;
			background-color:rgba(0, 120, 0, 1);
			cursor:pointer;
			margin-top:25px;
			border:2px solid rgba(0, 170, 0, 0);
			transition-duration:0.3s;
			-webkit-transition-duration:0.3s;
			-moz-transition-duration:0.3s;
		}
			 .acao:hover, .acao:active{
				border:2px solid #F47014;
				transition-duration:0.3s;
				-webkit-transition-duration:0.3s;
				-moz-transition-duration:0.3s;
			}
