*, *:before, *:after{	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}

html, body{
	margin:0;
	padding:0;
	border:0;
	height:100%;
	width:100%;
	background-color:#3f3f3f;
	color:white;
}

a, li, ul{
	list-style:none;
	text-decoration:none;
}


header{
	width:100%;						/*Para colocar um menu fixo*/
	z-index: 9998;
	height:100px;
}

	header  li{
		vertical-align:-39px;
		display:block;
		padding:43px 5%;
		text-align: center;
		-webkit-transition-duration: 0.3s; 
		-moz-transition-duration:0.3s;
		transition-duration: 0.3s;
	}
		header li:hover{
			-webkit-transition-duration: 0.3s; 
			-moz-transition-duration:0.3s;
			transition-duration: 0.3s;
			background-color:#1C1C1C;
			cursor:pointer;
		}
		header li:active{
			background-color:rgba(255, 255, 255, 0.2);
		}
		
	
	header a{		
		color:rgba(255, 255, 255, 0.7);
		font-size:0.7em;
		font-family:verdana;
		font-weight:bold;
		text-decoration:none;
		text-transform: uppercase;
		
	}

#carrinho{
	font-size:1em;
	font-weight:bold;
	color:rgba(0, 150, 0, 1);
}

#loja-virtual{
	font-size:0.8em;
	color:rgba(30, 150, 30, 1);
}

#alterar-dados{
	color:#569ec7;
}

#sair{
	color:rgba(200, 0, 0, 1);
}